{% extends "base.html" %}

{% block container %}
<h1>Doctor Appoinments</h1>
<div class="container">
<div class="appoinmentDetails">
    <table  class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ appoinment.id }}</td>
                <td>{{ appoinment.date }}</td>
                <td>{{ appoinment.status }}</td>
            </tr>
        </tbody>
    </table>
</div>
<!------->
<div class="formstatus">
    <form action="/doctor/approval/{{appoinment.id}}" method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <button class="btn btn-primary" type="submit">Submit</button>
        <a class="btn btn-primary" href="/doctor/index"> Goto Homepage</a>
    </form>
</div>
</div>
{% endblock %}