{% extends "base.html" %}

{% block container %}
<div>
    <p>Name:<span>{{user}}</span></p>
    <p>Age:<span>{{detail.age}}</span></p>
    <p>Gender:<span>{{detail.gender}}</span></p>
    <p>Reason:<span>{{detail.reason}}</span></p>
    <p>Vaccinated:<span>{{detail.vaccinated}}</span></p>
    <p>Scan File:<span>{{detail.file}}</span></p>
    <p><button onclick="goback()">Go back</button></p>
    <script>
        function goback(){
        window.history.back()
        }
    </script>
</div>
{% endblock %}