{% extends "base.html" %}
{% block container %}
    <nav>
        <ul>
            <li><a href="/patient/appoinment">Create Appoinment</a></li>
            <li><a href="/base/logout">Logout</a></li>
        </ul>
    </nav>
    <div>
        <h1>Welcome to Patient page!!!!</h1>
        <h2>Hi {{user}}!!!</h2>
    </div>
    <div class="container">
        <ul>
            {% for appoinment in appoinments %}
                <li><a href="/appointment/pat_appoinnment_details/{{appoinment.id}}">{{appoinment.date}}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}