{% extends "base.html" %}
{% block container %}
<h1>Checklist</h1>
<div class="container">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>S. No</th>
                <th>Appoinment Id</th>
                <th>Date</th>
                <th>User Detais</th>
                <th>Checklist</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                {% for app in apps%}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{app.id}}</td>
                    <td>{{app.date}}</td>
                    <td><a class="btn btn-primary" href="/users/get_details/{{app.user_id}}/{{app.id}}">Click Here</a></td>
                    <td><a  class="btn btn-primary" href="/checkup/view_checklist/{{app.id}}">Click Here</a></td>
                </tr>
                {% endfor %}
            </tr>
        </tbody>
    </table>
    <a class="btn btn-primary" href="/users/doctor">Home page</a>
</div>
{% endblock %}