<html>

<head>
    <title>Register Form</title>
</head>

<body>
    <form action="register" method="POST">
        <pre>
            {% csrf_token %}
            <input type="text" class="#" id="#" name="fname" placeholder="Firstnanme" />
            <input type="text" class="#" id="#" name="lname" placeholder="Lastname" />
            <input type="email" class="#" id="#" name="email" placeholder="email" />
            <input type="text" class="#" id="#" name="userid" placeholder="username" />
            <input type="password" class="#" id="#" name="password" placeholder="password" />
            <input type="password" class="#" id="#" name="password1" placeholder="confirm password" />
            <select class="#" id="#" name="gender">
                <option value="male">Male</option>
                <option value="female">Female</option>
            </select>
            <input type="date" class="#" id="#" name="dob" placeholder="Date of Birth"/>
            <label for="adminCheck">Is admin</label><input type="checkbox" name="admin" id="adminCheck" value="1"/>
            <label for="bioId">Bio:</label><textarea name="bio" id="bioId" cols="30" rows="10"></textarea>
            <button type="submit">Submit</button>
            <div>
            {% for message in messages%}
               <h4> {{message}}</h4>
            {%endfor%}
            </div> 
        </pre>
    </form>
</body>

</html>