{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="{%static 'css/boot.css'%}">
        <link rel="stylesheet" href="{%static 'css/style.css'%}">
        <script src="{% static 'js/script.js' %}"></script>
    </head>
    <body class="p-3 mb-2 bg-secondary text-white">
        <header><h1>{{header}}</h1></header>
        {% block container %}
        {% endblock %}
    <footer class="">
        <div class="footer-copyright text-center py-3">&copy 2021 Copyright:
        <a href="#">MD</a>
        </div>
    </footer>
    </body>
</html>