{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="{%static 'css/boot.css'%}">
        <link rel="stylesheet" href="{%static 'css/style.css'%}">
        <script src="{% static 'js/script.js' %}"></script>
    </head>
    <!-- class="p-3 mb-2 bg-secondary text-white" -->
    <body > 
        <header><h1>{{header}}</h1></header>
        <div  class="alert alert-danger alert-dismissible fade show" id="alertid" role="alert">
            {% for message in messages%}
            <h4>{{message}}</h4>
            <script>
                warn(); 
            </script>
            {%endfor%}
        </div>
        {% block container %}
        {% endblock %}
    <footer class="">
        <div class="footer-copyright text-center py-3">&copy 2021 Copyright:
        <a href="#">MD</a>
        </div>
    </footer>
    </body>
</html>