{% extends "base.html" %}
{% block container %}
<div class="formContainer">
    <div class="wrapper">
    <form action="/users/password_reseter" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label class="col-sm-2 col-form-label" for="{{ form.username.id_for_label }}">{{form.username.label_tag}}</label>{{form.username}}<span>{{form.username.errors}}</span>
        </div>
        <div class="form-group">
            <label class="col-sm-2 col-form-label" for="{{ form.key.id_for_label }}">{{form.key.label_tag}}</label>{{form.key}}<span>{{form.key.errors}}</span>
        </div>
        <div class="form-group">
            <label class="col-sm-2 col-form-label" for="{{ form.new_password.id_for_label }}">{{form.new_password.label_tag}}</label>{{form.new_password}}<span>{{form.new_password.errors}}</span>
        </div>
        <div class="form-group">
            <label class="col-sm-2 col-form-label" for="{{ form.con_password.id_for_label }}">{{form.con_password.label_tag}}</label>{{form.con_password}}<span>{{form.con_password.errors}}</span>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </div>
</form>
</div>
{% endblock %}