{% extends "base.html" %} {% block container %}
<div class="container">
    <form action="/accounts/add_user" method="POST">
        <h1>Register Here!!!</h1>
        <pre>
        {% csrf_token %}
        <label for="{{ form.firstName.id_for_label }}">{{form.firstName.label_tag}}</label>{{form.firstName}}<span>{{form.firstName.errors}}</span>
        <label for="{{ form.lastName.id_for_label }}">{{form.lastName.label_tag}}</label>{{form.lastName}}<span>{{form.lastName.errors}}</span>
        <label for="{{ form.email.id_for_label }}">{{form.email.label_tag}}</label>{{form.email}}<span>{{form.email.errors}}</span>
        <label for="{{ form.username.id_for_label }}">{{form.username.label_tag}}</label>{{form.username}}<span>{{form.username.errors}}</span>
        <label for="{{ form.password.id_for_label }}">{{form.password.label_tag}}</label>{{form.password}}<span>{{form.password.errors}}</span>
        <label for="{{ form.password1.id_for_label }}">{{form.password1.label_tag}}</label>{{form.password1}}<span>{{form.password1.errors}}</span>
        <label for="{{ form.gender.id_for_label }}">{{form.gender.label_tag}}</label>{{form.gender}}<span>{{form.gender.errors}}</span>
        <label for="{{ form.dob.id_for_label }}">{{form.dob.label_tag}}</label>{{form.dob}}<span>{{form.dob.errors}}</span>
        <label for="{{form.bio.id_for_label}}"></label>{{form.bio.label_tag}}</label>{{form.bio}}
        <button type="submit">Submit</button>
        <div>
            {% for message in messages%}
               <h4> {{message}}</h4>
            {%endfor%}
        </div>
        </pre>
    </form>
</div>
{% endblock %}

<!--

-->
