*{
    color: #fff;
}
body{
    background-image: url(../image/background1.jpg);
}
input{
    color: #000;
}
nav ul{
    list-style: none;
    background-color: black;
    padding: 10px;
   overflow: hidden;
}
nav ul li{
    display: inline;
    margin-left:5px ;
    float: right;
    margin-right: 10px;
}

nav ul li a{
    color: #fff;
    text-align: center;
    text-decoration: none;
}

nav ul li a:hover{
    color : #000;
    background-color: #fff;
    padding: 10px;
    text-decoration: none;
}

table,th,td{
    border: 1px solid black ;
    border-collapse: collapse;
}

.formContainer{
    width: 600px;
    position: relative;
    margin: auto;
    background: transparent;
    padding: 5px;
    overflow: hidden;
    box-shadow: 0 0 20px 0 #91f2fd;   
}

.wrapper {
    text-align: center;
    width: 600px;
}

/* .btn {
    position: absolute;
    top: 100%;
} */

/* .result, .alert{
    display: none;
    /* visibility: hidden;     */
/* } */
p span{
  padding: 10px;
  color: white;
  margin-bottom: 10px;
  margin-left: 40px;  
}

#alertid{
    display: none;  
}

.slideimg{
    height: 300px;
}

form span ul li{
    color: #f00;
    font-size: 15px;
}